* {
    margin: 0;
    padding: 0;
}

h1, h2, h3 {
  font-family: 'Poppins', sans-serif;
}

body, p, li {
  font-family: 'Lato', sans-serif;
}

code, pre {
  font-family: 'Fira Code', monospace;
}

html {
    box-sizing: border-box;
    font-size: 16px;
}

header {
    top: 20px;
    background-color: #15256d;
    display: flex;
    justify-content: center;
    border-bottom: silver 5px solid;
}

.nav-bar {
    height: 3rem;
    justify-content: center;
    align-items: center;
    display: flex;
    padding: 1rem;
    border: red solid 1px;
}

.nav-bar ul {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid green;
}

.nav-bar li {
    display: inline-flex;
    flex-direction: column;
    padding: 0rem 1rem;
    color: white;
}

.nav-bar a {
    color: white;
    text-decoration: none;
}

.main-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.page-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

.page-header h1, .page-header h2, .page-header h3 {
    padding-bottom: 1rem;
}

.project-page-link h3 {
    display: flex;
    justify-content: center;
    padding-top: 2rem;
}

.scrum-wrapper {
    display: grid;
    grid-template-columns: repeat(1, minmax(20rem, 1fr));
    gap: 1rem;
    margin: 0 2rem 2rem 2rem;
}

.scrum-image-container {
    display: flex;
    justify-content: center;
    border: red 1px solid;
    padding: 2rem;
}

.scrum-image-container img {
    width: 100%;
    height: auto;
    border-radius: 25px;
    border: #530475 solid 10px;
}

.scrum-blurb {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: blue solid 1px;
    text-align: center;
}

.scrum-blurb p {
    padding: 0.25rem;
}

.footer {
    display: flex;
    justify-content: center;
    align-content: center;
    height: 4em;
    background-color: #15256d;
    position: relative;
    bottom: -4.33rem; /*Puts footer at bottom of page*/
    border-top: silver 5px solid;
}

.copyright {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

.copyright p {
    color: silver;
    font-size: 1.25rem;
}