* {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3 {
  font-family: "Poppins", sans-serif;
}

body,
p,
li {
  font-family: "Lato", sans-serif;
}

code,
pre {
  font-family: "Fira Code", monospace;
}

html {
  box-sizing: border-box;
  font-size: 16px;
  background: linear-gradient(135deg, #ffffff, #c3c3f3, #0046f6);
  background-size: 400% 400%;
}

header {
  top: 20px;
  background-color: #15256d;
  display: flex;
  justify-content: center;
  border-bottom: silver 5px solid;
}

.nav-bar {
  height: 3rem;
  justify-content: center;
  align-items: center;
  display: flex;
  padding: 1rem;
}

.nav-bar ul {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-bar li {
  display: inline-flex;
  flex-direction: column;
  padding: 0rem 1rem;
  color: white;
}

.nav-bar a {
  color: white;
  text-decoration: none;
}

.main-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  margin: 1rem;
}

.project-page-link h3 {
  display: flex;
  justify-content: center;
  padding-top: 2rem;
}

.page-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.page-header h1,
.page-header h2,
.page-header h3 {
  padding-top: 1rem;
  max-width: 60%;
  text-align: center;
}

.page-header ol {
  max-width: 60%;
  padding: 1rem;
}

.page-header li {
  padding: 0.25rem;
}

/*---------*/

.master-tutorial-container {
  display: flex;
  justify-content: space-evenly;
  margin: 0 1rem;
}

.void-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  margin: 1rem;
  width: 45%;
}

.prison-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  margin: 1rem;
  width: 45%;
}

.intro-to-the-void-header,
.intro-to-prison-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  text-align: center;
  padding: 1rem;
}

.iframe-wrapper {
  box-sizing: border-box;
  max-width: 100%; /* Constrains the video size */
  max-height: 22rem;
  height: 0;
  width: 100%;
  position: relative;
  padding-bottom: 56.25%; /* 16:9 aspect ratio */
  overflow: hidden;
  margin: 0 auto;
  border: solid 5px #15256d;
}

.iframe-wrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 101%;
  height: 100%;
}

.header-blurb {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  min-height: 12rem;
}

.header-blurb h4 {
  padding-top: 1rem; 
}

.intro-to-the-void-header h5,
.intro-to-prison-header h5 {
  padding: 0.5rem;
}

.intro-to-the-void-header a,
.intro-to-prison-header a {
  color: rgb(18, 21, 117);
  text-decoration: none;
}

.intro-to-the-void-embed,
.intro-to-prison-embed {
  font-size: 0.75rem;
  height: 30rem;
  overflow: auto; 
  border: 3px solid #ccc; 
  padding: 1rem; 
  background-color: #f8f8f8; 
}

/*--------------*/

footer {
  display: flex;
  justify-content: center;
  align-content: center;
  height: 4em;
  background-color: #15256d;
  position: relative;
  bottom: -4.33rem; /*Puts footer at bottom of page*/
  border-top: silver 5px solid;
}

.copyright {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

.copyright p {
  color: silver;
  font-size: 1.25rem;
}

@media only screen and (max-width: 769px) {

.master-tutorial-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  margin: 1rem;
}

.void-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  width: 90%;
}

.prison-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  width: 90%;
}

.page-header h1,
.page-header h2,
.page-header h3 {
  padding-top: 1rem;
  max-width: 80%;
  text-align: center;
}

.page-header ol {
  max-width: 80%;
  padding: 1rem;
}

}
